<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Messaging App</title>
    <style>
        .tg  {overflow: hidden;table-layout: auto; float:left; width: 100%; border-collapse:collapse; border-spacing:0px;}
        .tg tr:hover { background-color: #eeeeee; color:#fdf6e3;}
        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight: bold ;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#93a1a1;color:#fdf6e3;background-color:#657b83;text-transform: capitalize;}
        .tg td{vertical-align:top;font-family:Arial, sans-serif;font-size:20px;padding:0px 0px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#93a1a1;color:#002b36;text-align: Left; }
    </style>
</head>

<body>
{% block content %}
    <H3> Latest copy of Heroku Postgres database can be downloaded at:</H3>
    <a href={{ my_dbdump_url }}>{{ my_dbdump_url }}</a>

{% endblock content %}
</body>
</html>