<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Messaging App</title>
    <style>
        .tg  {overflow: hidden;table-layout: auto; float:left; width: 100%; border-collapse:collapse; border-spacing:0px;}
        .tg tr:hover { background-color: #eeeeee; color:#fdf6e3;}
        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight: bold ;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#93a1a1;color:#fdf6e3;background-color:#657b83;text-transform: capitalize;}
        .tg td{vertical-align:top;font-family:Arial, sans-serif;font-size:20px;padding:0px 0px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#93a1a1;color:#002b36;text-align: Left; }
        button {  border:1px;  display:inline-block;  padding:8px 16px;  vertical-align:middle;  overflow: auto;  text-decoration:none;  color:white;  background-color:#4485b8;  text-align:center;  cursor:pointer;  white-space:nowrap;  border-radius: 10px;  font-size: 14px;}
        .button:hover{  color: #fff!important;  #background-color: #ccc!important;  background-color: #79aec8!important;}
    </style>
</head>

<body>
{% block content %}
    <h3>Download Heroku Postgres DB DUMP SQL format file.</h3>
        <form method="POST" action="/dbdump/" name='dbdump' >
            {% csrf_token %}
            <input type="hidden" id="submitted" name="submitted" value="True" >
            <input type="hidden" id="db_file_name" name="db_file_name" value={{ db_file_name }} >
            <input type="hidden" id="generated_on" name="generated_on" value="{{ generated_on }}" >
            <button class="button" type="submit" value="Submit">Generate and Download latest DBDUMP</button>
        </form>
    <p></p>
    {% if db_file_name != "" %}
        A fresh dbdump file is generated. Download from link below:/dbdump/Heroku_Postgres_DB_16_04_2020-203459-224466.sql
        <br><br>
        <a href={{ db_file_name }}>{{ db_file_name }}</a>
    {% endif %}
{% endblock content %}
</body>
</html>