<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Messaging App</title>
    <link rel="stylesheet" href="{% static 'css/my.css' %}">
</head>
<body>
    {% block content %}
        <h1 style="color: #4485b8; text-align: center;">My Messaging App</h1>
    	<form action="/" method="POST">
        <table align="center" border=0 style="vertical-align: top;">
            <input id="submitted" name="submitted" type="hidden" value=True>
            <thead>
            <tr>
                <td align='center' colspan=2><h2>User Login</h2></td>
    		</tr>
    		<tr>
    			<td align='center' colspan=2 style="color: #ff0000;"><strong>{{ message }}</strong></td>
    		</tr>
    		</thead>
    		<tbody>
    		<tr colspan=2>
    			<td colspan=2>{{ form.as_p }}</td>
    		</tr>
    		<tr>
    			<td align="Left" >
    				<button class="button" type="submit" value="Submit">LOG IN</button></td>
    			<td align="Right" >
    				<a class="button" href="/register">SIGN UP</a></td>
    		</tr>
    		</tbody>
    		{% csrf_token %}
    		</table>
    	</form>
    	<hr style="color: #EEEEEE;">
    	<p style="text-align: center;"><span style="color: #999999;font-size: x-small "><em>&copy; Irfan</em></span></p>
    {% endblock content %}
</body>
</html>
