<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Messaging App</title>
	<link rel="stylesheet" href="{% static 'css/my.css' %}">
</head>
 
<body>
{% block content %}
	<h1 style="color: #4485b8; text-align: center;">My Messaging App</h1>

	{% if submitted %}
		<p class="success">Your registration submitted successfully. Thank you.</p>
		<table style="vertical-align: top;" align="center" border="0">
			<tr><td><p class="normal"><a href="/">Back to Loging.</a></td></tr>
		</table>	
	{% else %}

	<form method="POST" action="" novalidate>
		<table style="vertical-align: top;" align="center" border=0>
		<thead>
		<tr style="">
			<td align='center'><h2>Register New User</h2></td>
		</tr>
		<tr style="">
			<td align='center' style="color: #ff0000;"><strong>{{ message }}</strong></td>
		</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ form.as_p }}</td>
			</tr>
			<tr>
				<td align="right" >
					<a class="button" href="/">BACK</a>
					<button class="button" type="submit" value="Submit">SUBMIT</button>
				</td>
			</tr>
		</tbody>
		{% csrf_token %}
		</table>
	</form>
	{% endif %}
<hr/>
<p style="text-align: center;"><span style="color: #999999;"><font size="2"><em>&copy; Irfan</em></font></span></p>
{% endblock content %}

</body>
</html>

