<!DOCTYPE html>

<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Messaging App</title>
    <style>
        html, body {margin-top: 0px;margin-right: 10px;margin-bottom: 0px;margin-left: 10px;height 100%;padding: 0;font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;color: #000;background: #fff;}
        h1 {color: #4485b8;}
        h2 {margin: 0;padding: 0;}
        a:focus, a:hover {    color: #036;}
        a:focus {    text-decoration: underline;}
        input {width: 100%;    padding: 5px!important;    -webkit-box-sizing: border-box;    -moz-box-sizing: border-box;    box-sizing: border-box;    border-radius: 2px;    border-style: solid;    border-width: 1px;    border-color: rgb(169,169,169);    vertical-align: Top}
        textarea {    width: 100%;    height: 100%;    padding: 5px!important;    -webkit-box-sizing: border-box;    -moz-box-sizing: border-box;    box-sizing: border-box;    border-radius: 0px;    border-style: solid;    border-width: 1px;    border-color: rgb(169,169,169);}
        label {  vertical-align: ;}
        div-full-page {    position: fixed;    top: 0;    bottom: 0;    width: 100%;    height: 100%;    background-color: #000;    opacity:0.8;    overflow-y: hidden;    overflow-x: hidden;}
        button {  border:1px;  display:inline-block;  padding:8px 16px;  vertical-align:middle;  overflow:hidden;  text-decoration:none;  color:white;  background-color:#4485b8;  text-align:center;  cursor:pointer;  white-space:nowrap;  border-radius: 8px;  font-size: 12px;}
        .button:hover{  color: #fff!important;  #background-color: #ccc!important;  background-color: #79aec8!important;}
        table {  table-layout: auto;  display: table;  border-color: gray; border:2px;  background-color:#EEEEEE;  border-radius: 8px;  padding: 10px;  right: 0px;}
        .footer {  position:absolute;   bottom:0;   width:100%;   height:60px; }
    </style>
</head>

<body>
{% block content %}
	<h1 style="color: #4485b8; text-align: center;">My Messaging App</h1>

	{% if submitted %}
		<p class="success">Your registration submitted successfully. Thank you.</p>
		<p align="center"><a class="button" href="/">Back to Loging.</a></p>
	{% else %}

	<form method="POST" action="" novalidate>
		<table style="vertical-align: top;" align="center" border=0>
            {% csrf_token %}
		<thead>
		<tr style="">
			<td align='center' colspan=2><h2>Register New User</h2></td>
		</tr>
		<tr style="">
			<td align='center' style="color: #ff0000;" colspan=2><strong>{{ message }}</strong></td>
		</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan=2>{{ form.as_p }}</td>
			</tr>
            <tr>
                <td>
                    <label for="timezone">Time zone:</label><br>
                    <select name="timezone" >
                        {% for tz in timezones %}
                        <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan=2 ></td>&nbsp;
            </tr>
			<tr>
				<td align="Left">
					<button class="button" type="submit" value="Submit">SUBMIT</button>
				</td>
				<td align="Right">
					<a class="button" href="/">< BACK</a>
				</td>
			</tr>
		</tbody>
		</table>
	</form>
	{% endif %}
<!--	<div class="footer" id="footer">
        <hr style="color: #EEEEEE;">
	    <p style="text-align: center;"><span style="color: #999999;font-size: x-small " ><em>&copy; Irfan Ajmal</em></span></p>
    </div>
-->
{% endblock content %}
</body>
</html>
